<div class="att">
  Atualizado em 19/11/2018 às 12:53
</div>
<mat-card>
  <span class="nome">Olá <strong>Cássio Trindade</strong>, você possui</span><br><br>
  <div class="coins">
    <img src="../../assets/img/coins.png" alt="" style="margin-right:15px">
    <span class="verde" style="font-size:48px"><strong>1.420 PCs</strong></span>
  </div>
</mat-card>
<br>
<mat-card>Compartilhe portocoins com seus amigos <span style="float:right" class="mdc-fab__icon material-icons">chevron_right</span></mat-card>
<br>
<mat-card>Peça portocoins aos seus amigos <span style="float:right" class="mdc-fab__icon material-icons">chevron_right</span></mat-card>