<mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
  <mat-tab label="PORTOCOINS">
    <app-main-container>
        <app-tab-portocoins></app-tab-portocoins>
    </app-main-container>
  </mat-tab>
  <mat-tab label="FATURAS">
    <app-main-container>
        <app-tab-faturas></app-tab-faturas>
        
    </app-main-container>
  </mat-tab>
  <mat-tab label="OFERTAS">
    <app-main-container>
        <app-tab-ofertas></app-tab-ofertas>
    </app-main-container>
  </mat-tab>
</mat-tab-group>